<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<7d81e3f9-acaa-4345-9418-f93ddfe82b2f>&lang=ru_RU" type="text/javascript"></script>
    <script src="date.js" type="text/javascript"></script>
    <script src="jquery.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 600px; height: 400px"></div>   
    <div><p><button id="reset" type="button">Очистить</button></p></div>
    <div><p><button id="send" type="button">Отправить</button></p></div>
</body>
</html>